@{
    ViewData["Title"] = "Forgot Password";
}

<h2 style="color:white">Forgot Password</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label style="color:white">Username</label>
        <input type="text" name="username" class="form-control" required />
    </div>

    <div class="form-group mt-2">
        <label style="color:white">New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-warning mt-3">Reset Password</button>
    <a asp-action="Login" class="btn btn-primary mt-3">Back to Login</a>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger mt-2">@ViewBag.Error</p>
    }

    @if (ViewBag.Success != null)
    {
        <p class="text-success mt-2">@ViewBag.Success</p>
    }
</form>
